* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
}

.edit-content {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto auto 1fr;
	max-width: 100%;
}

.edit-content h2 {
	text-align: center;
	padding-top: 0.25rem;
}

.edit-content span {
	color: black;
	padding: 0.25rem;
	margin: 0.25rem;
	border: solid black 1px;
	border-radius: 0.25rem;
}

.edit-content select {
	color: black;
	padding: 0.25rem;
	margin: 0.25rem;
	border: solid black 1px;
}

.edit-content a {
	text-decoration: none;
}

.editor {
	border: solid grey 1px;
	margin: 1rem 2rem 2rem 2rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
	box-shadow: rgb(0, 0, 0) 1px 1px 2px;
	width: calc(100vw - 6rem);
}

.active span {
	background-color: black;
	color: white;
}

.editor:focus {
	outline: none;
	box-shadow: black 2px 2px 3px;
}

.buttons {
	width: calc(100vw - 6rem);
	display: flex;
	padding: 0.5rem;
	flex-wrap: wrap;
	margin: 0.75rem 2rem 0rem 2rem;
	border-radius: 0.5rem;
	justify-content: space-evenly;
	border: solid grey 1px;
	box-shadow: black 2px 2px 3px;
}

.editor ul {
	padding-left: 1rem;
}
